<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Beer Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<h1>HELLO!</h1>
<h2>Please input home coordinates:</h2>
<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <p>Latitude: <input type="text" th:field="*{latitude}" /></p>
    <p>Longitude: <input type="text" th:field="*{longitude}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>